
<div style="width:100%; height:100%;" class="text-center">
  <div class="shows" style="display: inline-block; margin:auto; width: 40%; overflow-y: scroll; height: 100%;">
    <div class="text-center">
      <h5>{{$ctrl.show.name}}</h2>
      <h5>{{$ctrl.episode.date}}</h3>
    </div>
    <div style="width:100%;">
        <label style="width:15%; display:inline-block; text-align:left;  color: white">Filter:</label>
        <input style="display:inline-block; width:85%; border-radius:15px" ng-model="search">
    </div>
    <div ng-if="link.name !== 'Embed Upload'" ng-repeat="link in $ctrl.links | filter:{name: search}">
      <h5>{{link.name}}</h5>
      <p ui-sref="episode.video" ng-click="$ctrl.select(link.provider, href, link.name, link)" class="source" ng-repeat="href in link.link">{{link.link.length===1?link.name+' Full Part':link.name+' Part '+(link.link.indexOf(href)+1)}}</p>
    </div>
  </div>
  <div style="display: inline-block; width: 55%; margin:auto; height: 100%; overflow: hidden;">
    <div class="text-center outer-box" style="height: 100%; width: 100%; margin: auto">
      <div class="text-center box" style="height: 100%;">
        <div class="group" style="height: 100%;">
          <div class="part">
            <p ui-sref="episode.video" ng-click="$ctrl.selectPart($ctrl.selected.provider, href, $ctrl.selected.name)" class="source" ng-repeat="href in $ctrl.selected.link">{{$ctrl.selected.link.length===1?'Full Part':' Part '+($index+1)}}</p>
            <h5>{{$ctrl.selected.name}}</h5>
          </div>
          <div class="text-center outer-box" style="width: 100%; height: 80%;">
            <div class="text-center video-box" style="height: 100%;">
              <div style="margin: auto; max-width: 70%; max-height: 100%;" ui-view class="video view-frame">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>