<div class="text-center row" style="height: 100%;">
  <div  class="text-center col-sm-3" style="height:95%; width:30%; padding: 2.5%">
    <p style="color: white; font-size: 20px; font-weight: bold">{{$ctrl.shows.channel.name}}</p>
    <div class="logo">
      <img style="min-width: 75px; min-height:75px; margin: 31.5px auto 31.5px auto" ng-src="{{$ctrl.shows.channel.logo}}">
    </div>
  </div>
  <div class="shows col-sm-9"  style="height: 100%; width: 68%; overflow-y: scroll">
    <div   ng-if="show.name.indexOf('Award') < 0" ng-repeat="show in $ctrl.shows.shows">
      <p ui-sref="show({channel:$ctrl.shows.channel.name,show:show.name})" ng-click="$ctrl.select(show)">{{show.name}}</p>
    </div>
  </div>
</div>